<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addLinkForm">
  Add link here
</button>

<!-- Modal -->
<form form [formGroup]="linkForm" (ngSubmit)="onFormSubmit()">
  <div class="modal fade" id="addLinkForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Paste link here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class='form-group'>
            <label>url</label>
            <input type='url' name="url" class="form-control" formControlName="url">
            <div *ngIf="linkForm.controls['url'].hasError('required')">
              Url is required
            </div>
          </div>
          <div class='form-group'>
            <label>Title</label>
            <input type='text' name="title" class="form-control" formControlName="title">
          </div>
          <div class='form-group'>
            <label>tag</label>
            <input type='text' name="tag" class="form-control" formControlName="tag">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type='submit' value="Submit" class="btn btn-primary" />
        </div>
      </div>
    </div>
  </div>
</form>